<!DOCTYPE html>
<html>
	<head>
		<!-- Set layout for mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="cache-control" content="no-cache" />

		<meta property="og:url" name="og:url" content="<%=url%>">
		<meta property="og:title" name="og:title" content="<%=title%>">
		<meta property="og:description" name="og:description" content="<%=description%>">
		<meta property="og:image" name="og:image" content="<%=image%>">
		<meta property="og:image:width" name="og:image:width" content="<%=width%>">
		<meta property="og:image:height" name="og:image:height" content="<%=height%>">

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Questrial">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" type="text/css" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css" type="text/css" />
		<link rel="stylesheet" href="/public/css/main.css" type="text/css" />

		<link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
	</head>

	<body>
		<div id="content"></div>
		<!--[if lt IE 9]>Sorry, the 1to1 Movement Pledge application does not support IE8 or below.<![endif]-->
		<noscript>Sorry, the 1to1 Movement Pledge application requires JavaScript.</noscript>

		<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/public/scripts/build.js"></script>
	</body>
</html>
